In [1]:
import os

import pandas as pd

In [210]:
# Declaration des constantes
DATA_DIR = '../data/external/'
PROCESS_DIR = '../data/processed/'

ENTITES_FILENAME = 'StockUniteLegale_utf8.zip'
ETAB_FILENAME = 'StockEtablissement_utf8.zip'
NAF_REF_FILENAME = 'naf86.xlsx'
PS_CITIES_FILENAME = 'PS_communes.zip'
ACTIVITY_CODE = '86.'

## Préparation des Unite legales

In [3]:
pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME), # Concaténation du répertoire et du nom de fichier
           compression='zip',
           nrows=1000 # Limite a 1000 lignes la lecture
           ).head()

,siren,statutdiffusionunitelegale,unitepurgeeunitelegale,datecreationunitelegale,sigleunitelegale,sexeunitelegale,prenom1unitelegale,prenom2unitelegale,prenom3unitelegale,prenom4unitelegale,...,denominationunitelegale,denominationusuelle1unitelegale,denominationusuelle2unitelegale,denominationusuelle3unitelegale,categoriejuridiqueunitelegale,activiteprincipaleunitelegale,nomenclatureactiviteprincipaleunitelegale,nicsiegeunitelegale,economiesocialesolidaireunitelegale,caractereemployeurunitelegale
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,32.12Z,NAFRev2,65,NaN,N
1,1807254,O,NaN,1972-05-01,NaN,M,JACQUES-LUCIEN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,85.59A,NAFRev2,22,NaN,N
2,5410220,O,True,1954-12-25,NaN,M,GEORGES,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,22.02,NAP,15,NaN,N
3,5410345,O,True,NaN,NaN,M,MICHEL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,79.06,NAP,10,NaN,N
4,5410394,O,True,1954-12-25,NaN,M,ROBERT,ALFRED,NaN,NaN,...,NaN,NaN,NaN,NaN,1000,64.42,NAP,18,NaN,N

In [4]:
entite_df = (pd.read_csv(os.path.join(DATA_DIR, ENTITES_FILENAME),# Concaténation du répertoire et du nom de fichier
                        usecols=['siren','activiteprincipaleunitelegale', 'datecreationunitelegale', 'etatadministratifunitelegale',
                                'denominationunitelegale', 'nomunitelegale'
                                ],
                        compression='zip',
                        # nrows=100000 # Limite a n lignes la lecture
            )
            ).dropna(subset=['activiteprincipaleunitelegale']).query('etatadministratifunitelegale == "A"')

C:\Users\r12024553\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
entite_df.shape

(11696143, 6)

In [6]:
entite_df.denominationunitelegale.isnull().sum()

4403344

In [7]:
entite_df.nomunitelegale.isnull().sum()

7292817

In [8]:
entite_df.denominationunitelegale.isnull().sum() + entite_df.nomunitelegale.isnull().sum() == entite_df.shape[0]

False

In [5]:
# On filtre avec seulement les professionnels de santé
entite_df= entite_df[entite_df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)]

In [9]:
#entite_df.shape

(11696143, 6)

In [10]:
entite_df.head()

,siren,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale
0,325175,2000-09-26,A,JANOYER,NaN,32.12Z
31,5411582,1954-01-01,A,GERVOISE,NaN,68.20B
38,5420021,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B
45,5420120,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z
51,5420260,1954-12-25,A,NaN,SOCIETE ANONYME MILBLED,20.01

## Préparation des établissements

In [11]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # Concaténation du répertoire et du nom de fichier
           compression='zip',
           nrows=1000 # Limite a 1000 lignes la lecture
           ).head()

,siren,nic,siret,statutdiffusionetablissement,datecreationetablissement,trancheeffectifsetablissement,anneeeffectifsetablissement,activiteprincipaleregistremetiersetablissement,datederniertraitementetablissement,etablissementsiege,...,libellepaysetranger2etablissement,datedebut,etatadministratifetablissement,enseigne1etablissement,enseigne2etablissement,enseigne3etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,nomenclatureactiviteprincipaleetablissement,caractereemployeuretablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N

In [12]:
pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME), # Concaténation du répertoire et du nom de fichier
           compression='zip',
           nrows=1000 # Limite a 1000 lignes la lecture
           ).columns

Index(['siren', 'nic', 'siret', 'statutdiffusionetablissement',
       'datecreationetablissement', 'trancheeffectifsetablissement',
       'anneeeffectifsetablissement',
       'activiteprincipaleregistremetiersetablissement',
       'datederniertraitementetablissement', 'etablissementsiege',
       'nombreperiodesetablissement', 'complementadresseetablissement',
       'numerovoieetablissement', 'indicerepetitionetablissement',
       'typevoieetablissement', 'libellevoieetablissement',
       'codepostaletablissement', 'libellecommuneetablissement',
       'libellecommuneetrangeretablissement',
       'distributionspecialeetablissement', 'codecommuneetablissement',
       'codecedexetablissement', 'libellecedexetablissement',
       'codepaysetrangeretablissement', 'libellepaysetrangeretablissement',
       'complementadresse2etablissement', 'numerovoie2etablissement',
       'indicerepetition2etablissement', 'typevoie2etablissement',
       'libellevoie2etablissement', 'codepostal2etablissement',
       'libellecommune2etablissement', 'libellecommuneetranger2etablissement',
       'distributionspeciale2etablissement', 'codecommune2etablissement',
       'codecedex2etablissement', 'libellecedex2etablissement',
       'codepaysetranger2etablissement', 'libellepaysetranger2etablissement',
       'datedebut', 'etatadministratifetablissement', 'enseigne1etablissement',
       'enseigne2etablissement', 'enseigne3etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'nomenclatureactiviteprincipaleetablissement',
       'caractereemployeuretablissement'],
      dtype='object')

In [13]:
%%time
etab_df = (pd.read_csv(os.path.join(DATA_DIR, ETAB_FILENAME),# Concaténation du répertoire et du nom de fichier
                        usecols=['siren', 'activiteprincipaleetablissement', 'datecreationetablissement',
                                 'etatadministratifetablissement', 'denominationusuelleetablissement', 
                                 'codepostaletablissement', 'codecommuneetablissement',
                                 'libellecommuneetablissement', 'enseigne1etablissement'
                                ],
                        compression='zip',
                        #nrows=100000 # Limite a n lignes la lecture
            )
            ).dropna(subset=['activiteprincipaleetablissement']).query('etatadministratifetablissement == "A"')

<string>:2: DtypeWarning: Columns (20,41,44) have mixed types. Specify dtype option on import or set low_memory=False.

Wall time: 1min 43s

In [59]:
#etab_df= etab_df[etab_df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)]

In [14]:
etab_df.shape

(11233968, 9)

In [15]:
etab_df.head(10)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement
5,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z
48,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B
56,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z
57,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B
58,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z
59,5420120,1900-01-01,62180.0,CONCHIL LE TEMPLE,62233,A,NaN,NaN,46.75Z
71,5440110,1995-10-01,4000.0,DIGNE-LES-BAINS,04070,A,NaN,NaN,68.20B
79,5440565,1954-01-01,4200.0,SISTERON,04209,A,NaN,NaN,68.20B
119,5450093,2001-02-20,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.78C
120,5450093,2011-04-12,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.71Z

In [16]:
process_df = etab_df.merge(entite_df, on='siren', how='left')

In [17]:
process_df.shape

(11233968, 14)

In [34]:
process_df[process_df.activiteprincipaleunitelegale.isnull()].shape

(23, 14)

In [19]:
etab_df.merge(entite_df, on='siren', how='outer', indicator=True)['_merge'].value_counts()

both          11233945
right_only     1622950
left_only           23
Name: _merge, dtype: int64

In [20]:
etab_df.memory_usage(deep=True).sum()/(1024*1024) # En megaoctet

4456.694915771484

In [112]:
df = etab_df.merge(entite_df, on='siren', how='outer', indicator=True)

In [95]:
df.shape

(12856918, 15)

In [96]:
df.head(10)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge
0,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z,2000-09-26,A,JANOYER,NaN,32.12Z,both
1,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B,both
2,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
3,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
4,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
5,5420120,1900-01-01,62180.0,CONCHIL LE TEMPLE,62233,A,NaN,NaN,46.75Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
6,5440110,1995-10-01,4000.0,DIGNE-LES-BAINS,04070,A,NaN,NaN,68.20B,1954-01-01,A,CAMAU,NaN,68.20B,both
7,5440565,1954-01-01,4200.0,SISTERON,04209,A,NaN,NaN,68.20B,1954-01-01,A,MICHEL,NaN,68.20B,both
8,5450093,2001-02-20,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.78C,1954-01-01,A,NaN,BASALPINE AUTOCARS,47.78C,both
9,5450093,2011-04-12,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.71Z,1954-01-01,A,NaN,BASALPINE AUTOCARS,47.78C,both

In [97]:
df.columns

Index(['siren', 'datecreationetablissement', 'codepostaletablissement',
       'libellecommuneetablissement', 'codecommuneetablissement',
       'etatadministratifetablissement', 'enseigne1etablissement',
       'denominationusuelleetablissement', 'activiteprincipaleetablissement',
       'datecreationunitelegale', 'etatadministratifunitelegale',
       'nomunitelegale', 'denominationunitelegale',
       'activiteprincipaleunitelegale', '_merge'],
      dtype='object')

In [98]:
df[df.activiteprincipaleunitelegale.isnull()].shape

(23, 15)

In [87]:
df.head(10)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge
0,325175,2018-02-07,13004.0,MARSEILLE 4,13204,A,NaN,NaN,32.12Z,2000-09-26,A,JANOYER,NaN,32.12Z,both
1,5420021,2009-12-23,80100.0,ABBEVILLE,80001,A,NaN,NaN,46.69B,1954-01-01,A,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,46.69B,both
2,5420120,1989-01-27,80120.0,RUE,80688,A,NaN,NaN,10.81Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
3,5420120,1900-01-01,62180.0,RANG DU FLIERS,62688,A,NaN,NaN,52.10B,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
4,5420120,1900-01-01,62140.0,MARCONNELLE,62550,A,NaN,NaN,70.10Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
5,5420120,1900-01-01,62180.0,CONCHIL LE TEMPLE,62233,A,NaN,NaN,46.75Z,1954-01-01,A,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,70.10Z,both
6,5440110,1995-10-01,4000.0,DIGNE-LES-BAINS,04070,A,NaN,NaN,68.20B,1954-01-01,A,CAMAU,NaN,68.20B,both
7,5440565,1954-01-01,4200.0,SISTERON,04209,A,NaN,NaN,68.20B,1954-01-01,A,MICHEL,NaN,68.20B,both
8,5450093,2001-02-20,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.78C,1954-01-01,A,NaN,BASALPINE AUTOCARS,47.78C,both
9,5450093,2011-04-12,4800.0,GREOUX LES BAINS,04094,A,PASSIONNEMENT GLAMOUR,PASSIONNEMENT GLAMOUR,47.71Z,1954-01-01,A,NaN,BASALPINE AUTOCARS,47.78C,both

In [88]:
df['activiteprincipaleunitelegale'].unique()

array(['32.12Z', '46.69B', '70.10Z', ..., '40.11', '73.01', '21.14'],
      dtype=object)

In [102]:
df.head(20)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge
58,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z,both
416,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z,both
5115,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z,both
12308,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B,both
14190,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z,both
14879,36220150,1997-01-27,6600.0,ANTIBES,06004,A,NaN,POLE ANTIBES SAINT JEAN,86.10Z,1962-01-01,A,NaN,MONTSINERY,86.10Z,both
15197,37240348,1985-01-01,39100.0,DOLE,39198,A,NaN,NaN,86.90B,1972-01-01,A,MONNET,NaN,86.90B,both
15198,37240348,2002-12-20,73450.0,VALLOIRE,73306,A,NaN,NaN,68.20B,1972-01-01,A,MONNET,NaN,86.90B,both
15242,37739802,2004-10-01,64100.0,BAYONNE,64102,A,NaN,NaN,86.21Z,2004-10-10,A,BUCHET,NaN,86.21Z,both
15243,37739802,2004-10-10,64200.0,BIARRITZ,64122,A,NaN,NaN,68.20B,2004-10-10,A,BUCHET,NaN,86.21Z,both
76138,46620241,1966-01-01,20117.0,OCANA,2A181,A,NaN,NaN,86.10Z,1966-01-01,A,NaN,MAISON CONVALESCENCE VALICELLI,86.10Z,both
76190,46750147,1967-01-01,59500.0,DOUAI,59178,A,NaN,NaN,86.10Z,1967-01-01,A,NaN,CLINIQUE DU PONT SAINT VAAST,86.10Z,both
76191,46750147,2007-11-01,59187.0,DECHY,59170,A,NaN,NaN,86.10Z,1967-01-01,A,NaN,CLINIQUE DU PONT SAINT VAAST,86.10Z,both
78153,54390315,2004-01-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.21Z,2004-01-19,A,NaN,CABINET DES JARDINS SELARL,86.21Z,both
78813,54805577,1900-01-01,13011.0,MARSEILLE 11,13211,A,NaN,NaN,86.10Z,1955-01-01,A,NaN,SOCIETE ANONYME SAINT ROCH,86.10Z,both
79231,55806673,1955-01-01,13011.0,MARSEILLE 11,13211,A,NaN,NaN,86.10Z,1955-01-01,A,NaN,LA BASTIDE,86.10Z,both
79242,55807838,2001-10-01,13008.0,MARSEILLE 8,13208,A,NaN,NaN,86.10Z,1955-01-01,A,NaN,CLINIQUE JUGE,86.10Z,both
79587,56803117,1956-01-01,13400.0,AUBAGNE,13005,A,NaN,NaN,86.10Z,1956-01-01,A,NaN,HOPITAL PRIVE LA CASAMANCE,86.10Z,both
80423,57818460,1957-01-01,13006.0,MARSEILLE 6,13206,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,CLINIQUE BOUCHARD,86.10Z,both
80424,57818460,2003-07-31,13008.0,MARSEILLE 8,13208,A,CLINIQUE WULFRAN PUGET,NaN,86.10Z,1957-01-01,A,NaN,CLINIQUE BOUCHARD,86.10Z,both

In [103]:
df['activiteprincipaleunitelegale'].unique()

array(['86.10Z', '86.90B', '86.23Z', '86.21Z', '86.90A', '86.90E',
       '86.22A', '86.22C', '86.90D', '86.90F', '86.22B', '86.90C',
       '86.06', '86.09', '86.02', '86.08', '86.10', '86.12', '86.05',
       '86.04', '86.07', '86.11', '86.03', '86.01'], dtype=object)

In [104]:
df['activiteprincipaleetablissement'].unique()

array(['86.10Z', '86.90B', '86.23Z', '68.20B', '86.21Z', '70.10Z',
       '86.90A', '86.90E', '86.90F', '86.22A', '86.22C', '88.91A',
       '84.11Z', '87.30B', '66.19A', '86.90D', '85.42Z', '87.10A',
       '96.01A', '87.30A', '68.32B', '87.10C', '87.20B', '86.90C',
       '84.12Z', '68.32A', '88.91B', '88.99B', '85.32Z', '87.10B',
       '88.10B', '87.20A', '88.10C', '87.90B', '85.41Z', '01.21Z',
       '88.10A', '56.29B', '85.59B', '56.29A', '01.24Z', '85.20Z',
       '85.59A', '68.20A', '88.99A', '01.11Z', '72.20Z', '63.11Z',
       '69.10Z', '55.90Z', '85.31Z', '87.90A', '91.03Z', '01.49Z',
       '42.99Z', '02.40Z', '94.99Z', '47.99A', '49.31Z', '86.22B',
       '65.12Z', '47.78A', '68.10Z', '01.43Z', '02.10Z', '01.42Z',
       '01.29Z', '77.29Z', '74.90B', '55.10Z', '96.03Z', '47.76Z',
       '68.31Z', '32.50A', '55.20Z', '69.20Z', '49.32Z', '46.18Z',
       '02.20Z', '45.11Z', '46.19B', '70.22Z', '90.01Z', '72.19Z',
       '90.03B', '01.45Z', '43.34Z', '35.11Z', '90.03A', '96.04Z',
       '01.26Z', '47.89Z', '77.21Z', '01.19Z', '11.03Z', '93.29Z',
       '85.51Z', '01.62Z', '95.29Z', '01.41Z', '01.50Z', '03.22Z',
       '82.11Z', '94.92Z', '01.13Z', '81.10Z', '56.10A', '77.35Z',
       '70.21Z', '47.29Z', '01.61Z', '82.99Z', '47.75Z', '47.99B',
       '47.73Z', '01.22Z', '77.39Z', '96.09Z', '72.11Z', '59.20Z',
       '01.46Z', '01.14Z', '85.52Z', '41.20B', '32.20Z', '96.01B',
       '46.38B', '47.91B', '41.10A', '47.74Z', '66.19B', '96.02B',
       '47.61Z', '00.00Z', '63.12Z', '77.40Z', '52.10B', '66.21Z',
       '46.46Z', '77.34Z', '82.19Z', '82.30Z', '74.10Z', '43.12A',
       '23.70Z', '47.63Z', '58.11Z', '02.30Z', '01.28Z', '56.30Z',
       '01.25Z', '74.20Z', '47.79Z', '62.01Z', '13.92Z', '47.78C',
       '14.19Z', '47.64Z', '49.39A', '46.34Z', '10.41A', '74.30Z',
       '45.20B', '43.99D', '01.30Z', '71.11Z', '32.13Z', '01.44Z',
       '66.22Z', '49.41B', '45.20A', '10.89Z', '23.41Z', '63.91Z',
       '03.21Z', '01.23Z', '41.10D', '18.13Z', '55.30Z', '47.43Z',
       '85.53Z', '43.22B', '66.30Z', '52.21Z', '93.11Z', '56.10C',
       '38.32Z', '20.42Z', '58.14Z', '58.19Z', '81.21Z', '62.02A',
       '08.93Z', '93.13Z', '47.71Z', '27.40Z', '46.90Z', '01.47Z',
       '75.00Z', '79.90Z', '47.42Z', '77.11A', '93.19Z', '47.30Z',
       '71.12B', '94.91Z', '47.91A', '64.20Z', '73.11Z', '46.23Z',
       '47.11C', '71.20B', '62.02B', '85.60Z', '15.12Z', '47.81Z',
       '32.40Z', '61.90Z', '43.99C', '96.02A', '23.49Z', '47.82Z',
       '15.20Z', '47.24Z', '32.12Z', '53.20Z', '90.02Z', '80.10Z',
       '84.30A', '52.29B', '49.41A', '58.29C', '49.42Z', '43.32A',
       '10.71D', '62.09Z', '10.39B', '49.39B', '95.24Z', '47.11B',
       '32.99Z', '16.29Z', '64.30Z', '13.99Z', '47.59A', '20.41Z',
       '47.21Z', '81.30Z', '43.91A', '46.17B', '46.22Z', '43.39Z',
       '73.20Z', '93.12Z', '94.12Z', '43.21A', '58.13Z', '56.21Z',
       '10.72Z', '59.11B', '16.23Z', '47.51Z', '95.11Z', '29.20Z',
       '22.22Z', '43.22A', '90.04Z', '38.31Z', '25.71Z', '47.19B',
       '47.59B', '47.23Z', '14.13Z', '46.39B', '64.99Z', nan],
      dtype=object)

In [118]:
%load_ext dpaste_magic

In [124]:
df2 = (df.loc[df.activiteprincipaleunitelegale.str.startswith(ACTIVITY_CODE)|
              df.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE)]
        .assign(etab_ape_l1 = lambda x: x.activiteprincipaleetablissement.str.slice(0, 2))
        .assign(el_ape_l1 = lambda x: x.activiteprincipaleunitelegale.str.slice(0, 2))
        .assign(cross_l1 = lambda x: x.el_ape_l1 + "_" + x.etab_ape_l1)
      )

In [125]:
pd.crosstab(df2.etab_ape_l1, df2.el_ape_l1)

el_ape_l1,01,02,03,05,10,11,13,14,15,18,...,84,85,86,87,88,90,93,94,95,96
etab_ape_l1,,,,,,,,,,,,,,,,,,,,,
00,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
01,0,0,0,0,0,0,0,0,0,0,...,0,0,1336,0,0,0,0,0,0,0
02,0,0,0,0,0,0,0,0,0,0,...,0,0,242,0,0,0,0,0,0,0
03,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
08,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,10,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,66,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,180,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,0,0,14,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,10,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,62,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,761,0,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,302,0,0,0,0,0,0,0
52,0,0,0,0,0,0,0,0,0,0,...,0,0,10,0,0,0,0,0,0,0
53,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
62,0,0,0,0,0,0,0,0,0,0,...,0,0,16,0,0,0,0,0,0,0
63,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
64,0,0,0,0,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
65,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
66,0,0,0,0,0,0,0,0,0,0,...,0,0,617,0,0,0,0,0,0,0
68,0,0,0,0,0,0,0,0,0,0,...,0,0,10368,0,0,0,0,0,0,0
69,0,0,0,0,0,0,0,0,0,0,...,0,0,23,0,0,0,0,0,0,0
70,0,0,0,0,0,0,0,0,0,0,...,0,0,1405,0,0,0,0,0,0,0
71,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,0,0
72,0,0,0,0,0,0,0,0,0,0,...,0,0,33,0,0,0,0,0,0,0
73,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
74,0,0,0,0,0,0,0,0,0,0,...,0,0,89,0,0,0,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
77,0,0,0,0,0,0,0,0,0,0,...,0,0,78,0,0,0,0,0,0,0
79,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,...,0,0,18,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,87,0,0,0,0,0,0,0
84,0,0,0,0,0,0,0,0,0,0,...,0,0,16,0,0,0,0,0,0,0
85,0,0,0,0,0,0,0,0,0,0,...,0,0,733,0,0,0,0,0,0,0
86,332,35,4,1,4,1,2,1,1,4,...,3477,214,552149,352,944,116,30,205,3,207
87,0,0,0,0,0,0,0,0,0,0,...,0,0,2259,0,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,1448,0,0,0,0,0,0,0
90,0,0,0,0,0,0,0,0,0,0,...,0,0,357,0,0,0,0,0,0,0
91,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
93,0,0,0,0,0,0,0,0,0,0,...,0,0,44,0,0,0,0,0,0,0
94,0,0,0,0,0,0,0,0,0,0,...,0,0,66,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,7,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,408,0,0,0,0,0,0,0

In [134]:
df2.cross_l1.value_counts().head()

86_86    552149
86_68     10368
84_86      3477
86_87      2259
86_88      1448
Name: cross_l1, dtype: int64

In [133]:
df2.cross_l1.value_counts(normalize=True).head()

86_86    0.949202
86_68    0.017824
84_86    0.005977
86_87    0.003883
86_88    0.002489
Name: cross_l1, dtype: float64

In [127]:
pd.crosstab(df2.query('cross_l1 == "86_86"').activiteprincipaleetablissement,
            df2.query('cross_l1 == "86_86"').activiteprincipaleunitelegale)

activiteprincipaleunitelegale,86.10Z,86.21Z,86.22A,86.22B,86.22C,86.23Z,86.90A,86.90B,86.90C,86.90D,86.90E,86.90F
activiteprincipaleetablissement,,,,,,,,,,,,
86.10Z,8736,12,8,2,1,0,0,0,0,6,1,0
86.21Z,312,88879,202,68,423,15,0,6,6,19,9,10
86.22A,11,207,7618,0,100,0,0,0,0,1,0,0
86.22B,4,97,0,6410,106,6,0,0,0,0,0,1
86.22C,17,634,216,186,47899,12,0,10,0,1,2,8
86.23Z,9,4,0,16,7,44336,0,0,0,1,1,0
86.90A,35,0,0,0,0,0,7866,0,1,1,0,0
86.90B,15,10,3,0,24,0,0,6450,1,3,0,0
86.90C,14,0,0,0,0,0,0,0,422,0,0,0
86.90D,322,15,2,1,5,4,0,3,0,127363,85,61
86.90E,4,12,0,0,2,1,0,1,0,158,128853,349
86.90F,9,22,1,0,9,2,3,8,0,251,169,72954

In [143]:
naf_df = pd.read_clipboard()

In [148]:
naf_df.to_excel(os.path.join(DATA_DIR,NAF_REF_FILENAME), index=False)

In [149]:
naf_df.head(10)

      NAF                                           Libellé          categorie
0  86.10Z                           Activités hospitalières            hopital
1  86.21Z                Activité des médecins généralistes        generaliste
2  86.22A  Activités de radiodiagnostic et de radiothérapie         radiologue
3  86.22B                           Activités chirurgicales         chirurgien
4  86.22C        Autres activités des médecins spécialistes  autre_specialiste
5  86.23Z                                 Pratique dentaire           dentiste
6  86.90A                                        Ambulances          ambulance
7  86.90B                 Laboratoires d'analyses médicales   analyse_medicale
8  86.90C          Centres de collecte et banques d'organes             organe
9  86.90D      Activités des infirmiers et des sages-femmes         infirmiers

In [163]:
# Première Version
df2.loc[df2.cross_l1 == "86_86", 'code_activite'] = df2.activiteprincipaleetablissement
df2.loc[df2.el_ape_l1 != "86", 'code_activite'] = df2.activiteprincipaleetablissement
df2.loc[~df2.activiteprincipaleetablissement.str.startswith(ACTIVITY_CODE, na=False), 'code_activite'] = df2.activiteprincipaleunitelegale

In [169]:
#Deuxième Version
df2['code_activite'] = df2.apply(lambda x: x.activiteprincipaleetablissement 
                                  if x.etab_ape_l1 == "86"
                                  else x.activiteprincipaleunitelegale,
                                  axis='columns'
                                 )

In [ ]:
df2.head(10)

In [172]:
#Troisième Version
df2['code_activite'] = df2.activiteprincipaleetablissement
df2['code_activite'] = df2.where(df2.etab_ape_l1 != "86",
                                 df2.activiteprincipaleunitelegale,
                                 axis = 'columns')

In [174]:
#Quatrième version
import numpy as np
df2['code_activite'] = np.where(df2.etab_ape_l1 == '86',
                                df2.activiteprincipaleetablissement,
                                df2.activiteprincipaleunitelegale)

In [175]:
df2.code_activite.value_counts()

86.90D    133517
86.90E    133251
86.21Z     99310
86.90F     76535
86.22C     51951
86.23Z     47727
86.10Z     14214
86.90A      9205
86.22A      8573
86.22B      7139
86.90B      7031
86.06        463
86.90C       443
86.08        299
86.02        219
86.10        175
86.07        170
86.01        118
86.12         51
86.09         32
86.05         31
86.04         27
86.03          7
86.11          6
Name: code_activite, dtype: int64

In [176]:
naf_df.head(10)

      NAF                                           Libellé          categorie
0  86.10Z                           Activités hospitalières            hopital
1  86.21Z                Activité des médecins généralistes        generaliste
2  86.22A  Activités de radiodiagnostic et de radiothérapie         radiologue
3  86.22B                           Activités chirurgicales         chirurgien
4  86.22C        Autres activités des médecins spécialistes  autre_specialiste
5  86.23Z                                 Pratique dentaire           dentiste
6  86.90A                                        Ambulances          ambulance
7  86.90B                 Laboratoires d'analyses médicales   analyse_medicale
8  86.90C          Centres de collecte et banques d'organes             organe
9  86.90D      Activités des infirmiers et des sages-femmes         infirmiers

In [177]:
df2.head(10)

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,etatadministratifunitelegale,nomunitelegale,denominationunitelegale,activiteprincipaleunitelegale,_merge,etab_ape_l1,el_ape_l1,cross_l1,code_activite
58,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,A,NaN,SA SAINTE-ISABELLE,86.10Z,both,86,86,86_86,86.10Z
416,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,A,NaN,CENTRE DES CARMES,86.10Z,both,86,86,86_86,86.10Z
5115,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,A,NaN,CLINIQUE LES ROSIERS,86.10Z,both,86,86,86_86,86.10Z
12308,24080749,2002-12-19,97600.0,MAMOUDZOU,97611,A,NaN,NaN,86.90B,2002-12-19,A,NaN,MAYO BIO SELARL,86.90B,both,86,86,86_86,86.90B
14190,35204429,2009-01-01,31200.0,TOULOUSE,31555,A,NaN,NaN,86.23Z,1983-10-21,A,NaN,SAURAT PHILIPPE ET ISABELLE,86.23Z,both,86,86,86_86,86.23Z
14879,36220150,1997-01-27,6600.0,ANTIBES,06004,A,NaN,POLE ANTIBES SAINT JEAN,86.10Z,1962-01-01,A,NaN,MONTSINERY,86.10Z,both,86,86,86_86,86.10Z
15197,37240348,1985-01-01,39100.0,DOLE,39198,A,NaN,NaN,86.90B,1972-01-01,A,MONNET,NaN,86.90B,both,86,86,86_86,86.90B
15198,37240348,2002-12-20,73450.0,VALLOIRE,73306,A,NaN,NaN,68.20B,1972-01-01,A,MONNET,NaN,86.90B,both,68,86,86_68,86.90B
15242,37739802,2004-10-01,64100.0,BAYONNE,64102,A,NaN,NaN,86.21Z,2004-10-10,A,BUCHET,NaN,86.21Z,both,86,86,86_86,86.21Z
15243,37739802,2004-10-10,64200.0,BIARRITZ,64122,A,NaN,NaN,68.20B,2004-10-10,A,BUCHET,NaN,86.21Z,both,68,86,86_68,86.21Z

## Ajout du type de PS & Sauvegarde

In [186]:
df3 =df2.merge(naf_df, how='inner', left_on=['code_activite'], right_on =['NAF'])

In [188]:
df3.head()

,siren,datecreationetablissement,codepostaletablissement,libellecommuneetablissement,codecommuneetablissement,etatadministratifetablissement,enseigne1etablissement,denominationusuelleetablissement,activiteprincipaleetablissement,datecreationunitelegale,...,denominationunitelegale,activiteprincipaleunitelegale,_merge,etab_ape_l1,el_ape_l1,cross_l1,code_activite,NAF,Libellé,categorie
0,5720164,1983-09-28,80100.0,ABBEVILLE,80001,A,NaN,NaN,86.10Z,1957-01-01,...,SA SAINTE-ISABELLE,86.10Z,both,86,86,86_86,86.10Z,86.10Z,Activités hospitalières,hopital
1,7050040,1970-01-01,4510.0,AIGLUN,04001,A,NaN,NaN,86.10Z,1970-01-01,...,CENTRE DES CARMES,86.10Z,both,86,86,86_86,86.10Z,86.10Z,Activités hospitalières,hopital
2,17150533,1971-01-01,21000.0,DIJON,21231,A,NaN,NaN,86.10Z,1971-01-01,...,CLINIQUE LES ROSIERS,86.10Z,both,86,86,86_86,86.10Z,86.10Z,Activités hospitalières,hopital
3,36220150,1997-01-27,6600.0,ANTIBES,06004,A,NaN,POLE ANTIBES SAINT JEAN,86.10Z,1962-01-01,...,MONTSINERY,86.10Z,both,86,86,86_86,86.10Z,86.10Z,Activités hospitalières,hopital
4,46620241,1966-01-01,20117.0,OCANA,2A181,A,NaN,NaN,86.10Z,1966-01-01,...,MAISON CONVALESCENCE VALICELLI,86.10Z,both,86,86,86_86,86.10Z,86.10Z,Activités hospitalières,hopital

In [211]:
(df3[['codecommuneetablissement', 'categorie']]
.dropna(subset=['codecommuneetablissement'])
.assign(count = 1)
.groupby(['codecommuneetablissement','categorie'])
.sum()
.reset_index()
.pivot(index='codecommuneetablissement', columns='categorie', values='count')
.fillna(0)
 ).to_csv(os.path.join(PROCESS_DIR, PS_CITIES_FILENAME), sep=';', compression='zip')